.history/
target/
__pycache__/
.ipynb_checkpoints/
*.zip
.DS_Store
.history/
target/
__pycache__/
.ipynb_checkpoints/
*.zip
.DS_Store
.~lock.*.odt#
vendor/*.exe
vendor/

# Inf2200 local artifacts
Inf2200/*.rar
Inf2200/github-recovery-codes.txt
