{% extends 'base.html' %}

{% block title %} Home {% endblock %}
{% block page_title %} Home {% endblock %}

{% block content %}
<h1> Welcome </h1>
{% if user.is_authenticated %}
    Hello {{ user.username }}!
    <a href="{% url 'logout' %}"> logout </a>
	<a href="{% url 'profile' %}"> profile </a>
{% else %}
    <a href="{% url 'login' %}"> login </a>
	<a href="{% url 'signup' %}"> signup </a>
{% endif %}
<p><a href="{% url 'recipes' %}"> recipes </a></p>
<p><a href="{% url 'inventory' %}"> inventory </a></p>
<p><a href="{% url 'shopping_list' %}"> shopping list </a></p>
{% endblock %}
