.main-content img {
	display: flex;
	max-width: 100%;
	max-height: 100%;
}


.list_entries{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}


@media all and (max-width: 500px) {
	/* On small screens list entries by column direction. */
	.list_entries {
		flex-flow: column wrap;
	}
}


.list_entry{
	display: flex;
	flex-flow: column wrap;
	padding: 15px;
}


.list_item{
	text-align: center;
}
